*.swp

Makefile.am
Makefile.in

/aclocal.m4
/ar-lib
/autom4te.cache
/auxConfig/
/build
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/preBuild/
/realBuild/
/VERSION

/NB_perm_group/.dep.inc
/NB_perm_group/build/
/NB_perm_group/nbproject/private/

/doc/build
/doc/doctrees
/doc/source/api/gen_*

/include/perm_group/Config.h_.in
/include/perm_group/Config.h_.in~
